* {
    padding: 0;
    margin: 0;
}

body, html {
    width: 100vw;
}

.content {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    background-color: #1992d4;
}

.sidebar.middle{
    grid-row: 2/3;
}

.sidebar.bottom {
    grid-row: 3/4;
}

.sidebar > a {
    color: white;
    text-decoration: none;
}

.header {
    display: grid;
}

.header.top {
    grid-template-columns: 2fr 1fr;
}

.header.bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header.buttons {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.main.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.cards.parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
}

.cards.parent > .card {
    border: 2px solid red;
    height: 200px;
}